In [3]:
import pandas as pd

In [4]:
file = 'data/DEMO_F.XPT'
df = pd.read_sas(file)
df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,...,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,51624.0,6.0,2.0,1.0,1.0,34.0,409.0,410.0,3.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,80100.543512,81528.772006,1.0,83.0
1,51625.0,6.0,2.0,2.0,1.0,4.0,49.0,50.0,5.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,53901.104285,56995.035425,2.0,79.0
2,51626.0,6.0,2.0,1.0,1.0,16.0,202.0,202.0,4.0,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,13953.078343,14509.278860,1.0,84.0
3,51627.0,6.0,2.0,1.0,1.0,10.0,131.0,132.0,4.0,NaN,...,2.0,2.0,1.0,2.0,2.0,NaN,11664.899398,12041.635365,2.0,86.0
4,51628.0,6.0,2.0,2.0,2.0,60.0,722.0,722.0,4.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,20090.339256,21000.338724,2.0,75.0

In [8]:
file = 'data/BMX_F.XPT'
df = pd.read_sas(file)
df.head()

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXTRI,BMITRI,BMXSUB,BMISUB
0,51624.0,1.0,87.4,NaN,NaN,NaN,NaN,NaN,164.7,NaN,...,40.0,NaN,36.4,NaN,100.4,NaN,16.4,NaN,24.9,NaN
1,51625.0,1.0,17.0,NaN,NaN,NaN,NaN,NaN,105.4,NaN,...,19.3,NaN,15.9,NaN,49.0,NaN,6.6,NaN,5.2,NaN
2,51626.0,1.0,72.3,NaN,NaN,NaN,NaN,NaN,181.3,NaN,...,39.5,NaN,26.6,NaN,74.7,NaN,10.2,NaN,10.5,NaN
3,51627.0,1.0,39.8,NaN,NaN,NaN,NaN,NaN,147.8,NaN,...,31.0,NaN,23.9,NaN,63.0,NaN,11.5,NaN,7.7,NaN
4,51628.0,1.0,116.8,NaN,NaN,NaN,NaN,NaN,166.0,NaN,...,39.0,NaN,42.2,NaN,118.2,NaN,29.6,NaN,35.6,NaN